@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

html {
  height:100%;
  width:100%;
  margin:0%;
  padding:0%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

body {
  overflow-x: hidden;
  overflow: hidden;
}

#icon{
  position: relative;
  top:30px;
  left:200px;
}

.icon2{
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 3;
  left:80%;
}

h1{
  font-family: 'Noto Serif', serif;
  font-size:80px;
  color:black;
  text-align: center;
  position:relative;
  top:-120px;
}

h2{
  font-family: 'Noto Serif', serif;
  font-size:15px;
  color:black;
  left:800px;
  position:absolute;
  bottom:15px;
}

.paper {
  position: relative;
  height: 2200px;
  width: 92%;
  background: rgba(255,255,255,0.9);
  left: 5%;
  top: 5%;
  box-shadow: 0px 0px 5px 0px #888;
  overflow-y: hidden;
}

.phonecase{
  position: relative;
  top:-380px;
  margin:0%;
  padding: 0%;
  position: relative;
  display:flex;
  flex-direction:row;
}

/* The device with borders */
.smartphone1 {
    position: relative;
    left:0px;
    top:-40px;
    width: 180px;
    height: 300px;
    margin: auto;
    border: 13px black solid;
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-radius: 30px;
}
  
  /* The horizontal line on the top of the device */
.smartphone1:before {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}
  
  /* The circle on the bottom of the device */
.smartphone1:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}
  
  /* The screen (or content) of the device */
/* .smartphone1 .content1 {
    width: 180px;
    height: 300px;
    padding: 0%;
    /* margin:auto; */

.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position:relative;
  top: -350px;
  left: 30px;
  bottom: 10px;
  /* right: 10px; */
  /* line-height: 25px; */
  font-family: 'Solway', serif;
  overflow-y: hidden;
  outline: none;
}

.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: whitesmoke;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}

/* Fonts */

h4{
  position: relative;
  font-size: 50px;
  top:-80px;
  font-family: 'Noto Serif', serif;
}

.flex-container {
  position:relative;
  top:-130px;
  left:0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /*list-style: none; -- removed this line*/
}
  
.flex-item {
  /* padding: 5px; */
  /* width: 350px; */
  /* height: 110px; */
  margin-top: 10px;
  /*line-height: 150px; -- removed this line*/
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: flex; /* added this line*/
  align-items: center; /* added this line*/
}

/* cartoon */

.cartoon1{
  /* border: 10px solid #ccc; */
  position:relative;
  height: 32%;
  width: 70%;
  left: 15%;
  top:-120px;
}

.cartoon1 img {
  width: 100%;
  height: 100%;  
}

.worry{
  color: black;
  position:relative;
  top: -180px;
  left: 30px;
  font-size:400%;
  text-shadow: 2px 1px #FDE64B;
  font-family:Stencil Std, fantasy;
  font-weight:700;
  transform: rotate(-8deg);
}

.help{
  color: black;
  position:relative;
  left: 300px;
  top: -170px;
  font-size:400%;
  text-shadow: 2px 1px #fde64b;
  font-family:Stencil Std, fantasy;
  font-weight:700;
  /* transform: rotate(-8deg); */
}

.safe{
  /* border: 10px solid #ccc; */
  position:relative;
  height: 200px;
  width: 300px;
  left: 67%;
  top:-200px;
}

.safe img {
width: 100%;
height: 100%;  
}

.cloud-txt {
position: absolute;
top:-5px;
left: 70px;
font-size:500%;
text-shadow: 2px 1px white;
font-family:Stencil Std, fantasy;
}

/* box */

.box {
  position: relative;
  left:150px;
  top:-430px;
}
.box::before {
  content: "";
  width: 440px;
  height: 440px;
  background-color: #89cff0;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}
.box-body {
  position: relative;
  height: 150px;
  width: 150px;
  margin-top: 123.3333333333px;
  background-color: #e9d5b0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(#e1c38b,#ffdd9f);
}
.box-body .img{
  opacity: 0;
  transform: translateY(0%);
  transition: all 0.5s;
  margin: 0 auto;
  display: block;
}
.box-body:hover {
  cursor: pointer;
  -webkit-animation: box-body 1s forwards ease-in-out;
          animation: box-body 1s forwards ease-in-out;
}
.box-body:hover .img{
  opacity: 1;
  z-index: 0;
  transform: translateY(-157px);


   
}
.box-body:hover .box-lid {
  -webkit-animation: box-lid 1s forwards ease-in-out;
          animation: box-lid 1s forwards ease-in-out;
}
.box-body:hover .box-bowtie::before {
  -webkit-animation: box-bowtie-left 1.1s forwards ease-in-out;
          animation: box-bowtie-left 1.1s forwards ease-in-out;
}
.box-body:hover .box-bowtie::after {
  -webkit-animation: box-bowtie-right 1.1s forwards ease-in-out;
          animation: box-bowtie-right 1.1s forwards ease-in-out;
}
.box-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#ffffff,#ffefa0)
}
.box-lid {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 90%;
  height: 40px;
  background-color: #f1cc86;
  height: 40px;
  width: 160px;
  border-radius: 5%;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}
.box-lid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#fef2ad,#fff)
}
.box-bowtie {
  z-index: 1;
  height: 100%;
}
.box-bowtie::before, .box-bowtie::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 16.6666666667px solid #cfaf89;
  /* width: 83.3333333333px;
  height: 83.3333333333px;
  border: 16.6666666667px solid white; */
  border-radius: 50% 50% 0 50%;
  position: absolute;
  bottom: 99%;
  z-index: -1;
}
.box-bowtie::before {
  left: 50%;
  -webkit-transform: translateX(-100%) skew(10deg, 10deg);
          transform: translateX(-100%) skew(10deg, 10deg);
}
.box-bowtie::after {
  left: 50%;
  -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
          transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

@-webkit-keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
            transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
            transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
            transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}

@keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
            transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
            transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
            transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}
@-webkit-keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
            transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
            transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
            transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
            transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@-webkit-keyframes box-bowtie-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes box-bowtie-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes box-bowtie-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}
@keyframes box-bowtie-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}