@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body, html {
  margin: 0;
  overflow-x: hidden;
}

#front {
  height: 100vh;
  width: 100vw;
  background-image: url("https://warm-naiad-cf0694.netlify.app/demo-images/light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

h1{
  font-family: 'Playfair Display', serif;
  font-size:100px;
  color:whitesmoke;
  text-align: center;
  position:relative;
  top:100px;
}

h2{
  font-family: 'Playfair Display', serif;
  font-size:40px;
  color:whitesmoke;
  text-align: center;
  position:relative;
  top:100px;
}

/* Arrow */
h3{
    position: relative;
    top:260px;
    font-family: 'Lora', serif;
    color:white;
    font-size:34px;
    text-align: center;
}

/* Scoll down animation */

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top:480px;
}
  
.arrows path {
    stroke: whitesmoke;
    fill: transparent;
    stroke-width: 1px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}
  
@keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
@-webkit-keyframes arrow 
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; 
}
  
.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; 
}
  
.arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s; 
}
  

/* Instruction Page */
#cover2 {
  background-image: url("https://warm-naiad-cf0694.netlify.app/demo-images/light.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed; 
}

#text1{
  margin: 0;
  position: relative;
  width:870px;
  height:300px;
  background-color: whitesmoke;
  border: 7px gray dotted;
  left:5%;
  opacity: 0.8;
}

#text2{
  margin: 0;
  position: relative;
  width:800px;
  height:610px;
  top:100px;
  background-color: whitesmoke;
  border: 7px gray dotted;
  left:5%;
  opacity: 0.8;
}

#container {
  margin: 0;
  display: flex;
  flex-direction: column; 
  position: relative;
  top:-310px;
  left:74%;
}

h4{
  position: relative;
  margin:0;
  top:10px;
  left:10px;
  font-family: 'Playfair Display', serif;
  color:black;
  font-size:50px;
}

h5{
  position: relative;
  margin:0;
  top:20px;
  left:10px;
  font-family: 'Lora', serif;
  color:black;
  font-size:20px;
}

h6{
  position: relative;
  margin:0;
  top:10px;
  left:10px;
  font-family: 'Playfair Display', serif;
  color:black;
  font-size:50px;
}

#video-1{
  position: relative;
  width:80%;
  height: 80%;
  bottom:100px;
  left:10%;
}
